body {
    background-image: url(./Images/Grassblock.jpg);
    text-align: center;
  }

h1 {
    text-align: center;
    text-emphasis-style: bold;
    font-size: large;
}

p {
    text-align: center;
}