@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@import url('https://fonts.google.com/specimen/PT+Serif?preview.text');
@import url('https://fonts.google.com/specimen/Nunito+Sans?preview.text');

body {
  cursor: url('./Images/Cursor.png'),auto;
  height: 100%;
  text-align: center;
  font-family: 'PT Serif';
  top: 0;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  text-align: center;
}

.bannersection1 {
  background-image: url(./Images/bg.png);
  margin: -10px -10px -10px -10px;
  background-size: cover;
  height: 650px;
  padding-top: 0px;
  bottom: 0;
}


@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

p {
  text-align: left;
  font-size: 30px;
}

.sub {
  font-size: 25px;
  color: white;
  font-family: "Minecraft", sans-serif;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  opacity: 100%;
  font-weight: normal;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  animation: slide-down 1s forwards;
  -webkit-animation: slide-down 1s forwards;
}

@-webkit-keyframes glow {
  to {
    border-color: #69c800;
    -webkit-box-shadow: 0 0 5px #69c800;
    -moz-box-shadow: 0 0 5px #69c800;
    box-shadow: 0 0 5px #69c800;
  }
}

@keyframes glow {
  to {
    border-color: #69c800;
    -webkit-box-shadow: 0 0 5px #69c800;
    -moz-box-shadow: 0 0 5px #69c800;
    box-shadow: 0 0 5px #69c800;
  }
}

.Classic {
  background-color: rgb(255, 255, 255, 0);
  position: relative;
  bottom: 80px;
  right: 200px;
  left: 35px;
  top: 10px;
  width: 300px;
  border: 3px solid white;
  border-radius: 10px;
  padding-bottom: 10px;

}


h2 {
  text-align: center;
  padding: 5px;
  font-family: "Minecraft", sans-serif;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 40px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 21px;
  margin-bottom: 40px;
  text-decoration: none;

}


.homebuttons {
  border-radius: 10px;
  border: 2px solid white;
  margin-top: 15px;
  width: 200px;
  height: 200px;
  
}

.linkbuttons {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  animation: slide-in 1s forwards;
  -webkit-animation: slide-in 1s forwards;
}

.linkbuttons2 {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  animation: slide-in 1s forwards;
  -webkit-animation: slide-in 1s forwards;
}

.titleimg {
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 100px;
  display: block;
  border: none;
  border-radius: 0px;
  z-index: 0;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  animation: slide-down 1s forwards;
  -webkit-animation: slide-down 1s forwards;
}

.bigclassic {
  bottom: 80px;
  right: 200px;
  left: 0px;
  top: 10px;
  width: 300px;
}

.bigclassic:hover {
  img {
    border: 2px solid green;
  }

  h2 {
    color: rgb(2, 153, 2);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }

  .Classic {
    border: 3px solid green;
    background-color: rgb(169, 169, 169, 0.5);
    -webkit-animation: glow 1.0s infinite alternate;
    -webkit-transition: border 0.5s linear, box-shadow 0.5s linear;
    -moz-transition: border 0.5s linear, box-shadow 0.5s linear;
    transition: border 0.5s linear, box-shadow 0.5s linear;
    animation: glow 0.5s infinite alternate;
  }
}



.Mobs {
  background-color: rgb(255, 255, 255, 0);
  position: absolute;
  left: 360px;
  margin-top: -340px;
  padding-bottom: 10px;
  width: 300px;
  border: 3px solid white;
  border-radius: 10px;

}

.mobsheading {
  text-align: center;
  padding: 5px;
  font-family: "Minecraft", sans-serif;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 40px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 25px;
  padding-bottom: 46px;
}

.bigMobs:hover {
  img {
    border: 2px solid green;
  }

  .mobsheading {
    color: rgb(2, 153, 2);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }

  .Mobs {
    border: 3px solid green;
    background-color: rgb(169, 169, 169, 0.5);
    -webkit-animation: glow 1.0s infinite alternate;
    -webkit-transition: border 0.5s linear, box-shadow 0.5s linear;
    -moz-transition: border 0.5s linear, box-shadow 0.5s linear;
    transition: border 0.5s linear, box-shadow 0.5s linear;
    animation: glow 0.5s infinite alternate;
  }
}

.biomes {
  background-color: rgb(255, 255, 255, 0);
  position: absolute;
  left: 685px;
  margin-top: -340px;
  width: 300px;
  border: 3px solid white;
  border-radius: 10px;
  padding-bottom: 10px;

}

.biomesheading {
  text-align: center;
  padding: 5px;
  font-family: "Minecraft", sans-serif;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 40px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 21px;
  margin-bottom: 40px;
}

.bigBiomes:hover {
  img {
    border: 2px solid green;
  }

  .biomesheading {
    color: rgb(2, 153, 2);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }

  .biomes {
    border: 3px solid green;
    background-color: rgb(169, 169, 169, 0.5);
    -webkit-animation: glow 1.0s infinite alternate;
    -webkit-transition: border 0.5s linear, box-shadow 0.5s linear;
    -moz-transition: border 0.5s linear, box-shadow 0.5s linear;
    transition: border 0.5s linear, box-shadow 0.5s linear;
    animation: glow 0.5s infinite alternate;
  }
}

.umm {
  background-color: rgb(255, 255, 255, 0);
  position: absolute;
  left: 1010px;
  margin-top: -340px;
  width: 300px;
  border: 3px solid white;
  border-radius: 10px;
  padding-bottom: 10px;
}



.ummheading {
  text-align: center;
  padding: 5px;
  font-family: "Minecraft", sans-serif;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 40px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 21px;
  margin-bottom: 0px;
}

.bigUmm:hover {
  img {
    border: 2px solid green;
  }

  .ummheading {
    color: rgb(2, 153, 2);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }

  .umm {
    border: 3px solid green;
    background-color: rgb(169, 169, 169, 0.5);
    -webkit-animation: glow 1.0s infinite alternate;
    -webkit-transition: border 0.5s linear, box-shadow 0.5s linear;
    -moz-transition: border 0.5s linear, box-shadow 0.5s linear;
    transition: border 0.5s linear, box-shadow 0.5s linear;
    animation: glow 0.5s infinite alternate;
  }
}



@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-down {
  100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-down {
  100% { -webkit-transform: translateY(0%); }
}

.topnav {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  margin-top: 0px;
}

.links {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Minecraft", sans-serif;
  margin-bottom: 0px;


}

.links:hover {
  background-color: white;
  color: black;
}

.linky {
  float: right;
  text-decoration: none;
  font-size: 20px;
  font-family: "Minecraft", sans-serif;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-top: 3px;
}


.Homelogo {
  width: 20px;
  height: 20px;
  margin: 0px;
  border-radius: 0%;
  border: none;
  padding: 0px;

}

.sitelogo {
  width: 30px;
  height: 30px;
  margin: 0px;
  border-radius: 0%;
  border: none;
  padding: 0px;
  float: left;

}


.map {
  font-family: "Minecraft", sans-serif;
  color: white;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  float: right;
}

.map:hover {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
}


/*leave this navbar stuff here but i dont think we need it for homepage */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
  top: 0;
  z-index: 1;
  border-radius: 15px 15px 15px 15px;
}

.progress-bar {
  height: 8px;
  background: #98FB98;
  width: 0%;
  border-radius: 15px 15px 15px 15px;
}

.mainbar {
  position: fixed;
  z-index: 4;
  width: 100%;
  opacity: 95%;
  padding-top: 0px;
  top: 0;
  left: 0;
}

footer {
  background-color: #333;
  height: 50px;
  width: 100%;
  margin: 0px;
  margin-left: 0px;
  padding: 0;
  position: absolute;
  display:flex;
  left:0;
}

.footerwords {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: "Minecraft", sans-serif;
  padding-top: 10px;
  padding-left: 10px;
}

.footerwords2 {
  padding-left: 245px;
  padding-top: 12px;
  color: white; 
  text-decoration: none;
  font-size: 20px;
  font-family: "Minecraft", sans-serif;

}

.footerwords3 {
  color: white;
  padding: 12px 16px;
  padding-left: 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Minecraft", sans-serif;
  padding-top: 10px;
  padding-left: 20px;
}

.footer4 {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: "Minecraft", sans-serif;
  padding-top: 10px;
  padding-left: 20px;
}

.footerimg {
  border: none;
  height: 30px;
  display: flex;
  margin-top: 10px;
  padding-left: 5px;
}

audio::-webkit-media-controls {
  display: none;
}

.Music {  
height:0px; 
line-height: 0px;
font-size: 0px;
}
/*leave this navbar stuff here but i dont think we need it for homepage */
/*so real*/
/*do something cooper*/
