@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.cdnfonts.com/css/minecraft-4');

.topnav {
  background-color: #333;
  overflow: hidden;
  width: 100%; 
  margin-top: 0px;
}

.links {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Minecraft", sans-serif;
  margin-bottom: 0px;
  

}
.links:hover {
  background-color: white;
  color: black;
}

.Homelogo {
  width: 20px;
  height: 20px;
  margin: 0px;
  border-radius: 0%;
  border: none;
  padding: 0px;

}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
  top: 0;
  z-index: 1;
  border-radius:15px 15px 15px 15px;
}

.progress-bar {
  height: 8px;
  background: #98FB98;
  width: 0%;
  border-radius:15px 15px 15px 15px;
}

.mainbar {
  position: fixed;
  z-index: 4;
  width: 100%;
  opacity: 95%;
  padding-top: 0px;
  top:0;
  left: 0;
}

  body {
    
    height: 100%;
    text-align: center;
    font-family:'PT Serif';
    padding-top: 0px;
  }

body::-webkit-scrollbar {
    display: none;
  }

  h1 {
    font-family: "Minecraft", sans-serif;
    color: #333;
    margin-top: 100px; 
  }
  
  .sitemap {
    padding: 0;
    margin: 20px;
    max-width: 800px;
    text-align: left;
  }
  
  .sitemap li {
    margin: 10px;
  }
  
  .sitemap a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
  }

  .sitemap a:hover {
    text-decoration: underline;
    color: #007BFF;
  }

  .sitemap ul {
    padding-left: 20px;
    display:none;
    line-height: 50px;
  }
  
  .sitemap li ul li a {
    font-size: 16px;
  }
  
  .sitemap li ul li ul li a {
    font-size: 14px;
  }
  
  .sitemap a i {
    margin-right: 8px;
  }
    
  .sitemap li:hover > ul {
    display: block;
  }

  .sitemap a img {
    vertical-align: middle;
    margin-right: 8px;
    width: 16px; 
    height: 16px; 
}