@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.cdnfonts.com/css/minecraft-4');

.topnav {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  margin-top: 0;
  height: 50px;
}

.links {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Minecraft", sans-serif;
}

.links:hover {
  background-color: white;
  color: black;
}

.Homelogo {
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 0;
  border: none;
  padding: 0;
}

.mainbar {
  position: fixed;
  z-index: 4;
  width: 100%;
  opacity: 95%;
  padding-top: 0;
  top: 0;
  left: 0;
}



body::-webkit-scrollbar {
  display: none;
}



.sitemap {
  list-style-type: none;
  padding: 0;
  margin: 20px auto;
  max-width: 800px;
  text-align: left;
}



.sitemap li {
  margin: 10px;
  position: relative;
}

.sitemap a {
  color:white;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Minecraft', sans-serif;

}

.sitemap a:hover {
  text-decoration: none;
  color: rgb(1, 139, 1);
}

li::marker {
  color: white;
}

li:hover::marker {
  color: rgb(1, 139, 1);
}

.sitemap ul {
  display: none;
}

.sitemap li ul li a {
  font-size: 16px;
}

.sitemap li ul li ul li a {
  font-size: 14px;
}

.sitemap a i {
  margin-right: 8px;
}



.sitemap img {
  vertical-align: left;
  margin-right: 8px;
  width: 50px;
  height: 50px;
}

.sitelogo {
  width: 30px;
  height: 30px;
  margin: 0px;
  border-radius: 0%;
  border: none;
  padding: 0px;
  float: left;
  
}


.map {
  font-family: "Minecraft", sans-serif;
  color: white;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  float: right;
}

.map:hover {
  background-color: white;
  color: black ;
}

a {
  text-decoration: none;
}
.linky {
  float: right;
  text-decoration: none;
  font-size: 20px;
  font-family: "Minecraft", sans-serif;
  margin-bottom: 0px;
  padding-left: 5px; 
  padding-top: 0px;
}

.backbutton {
  width: 60px;
  height: 40px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 70px;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  animation: slide-in 1s forwards;
  -webkit-animation: slide-in 1s forwards;
}

@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}

.backbutton:hover {
  background-color: white;
  color: black;
}

h1 {
  font-family: "Minecraft", sans-serif;
  color: white;
  text-align: center;
  margin-top: 0;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}

body {
  top: 0;
  background-image: url(./Images/background.png);
  background-size: 100vw 100vh;
}

.sitemap li:hover > ul {
  display: block;
  position: fixed;
  left: 58%;
  top: 18%;
  transform: translateX(-50%);
  background-color: rgba(51, 51, 51, 0.8);
  border: 1px solid black;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: max-content;
}

.bigsitemap {
  background-color: rgba(51, 51, 51, 0.5);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 70%;
  margin-left: 15%;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  animation: slide-down 1s forwards;
  -webkit-animation: slide-down 1s forwards;
}

@keyframes slide-down {
  100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-down {
  100% { -webkit-transform: translateY(0%); }
}




