@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.cdnfonts.com/css/minecraft-4');

.topnav {
  background-color: #333;
  overflow: hidden;
  width: 100%; 
  margin-top: 0px;
}

.links {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Minecraft", sans-serif;
  margin-bottom: 0px;
  

}
.links:hover {
  background-color: white;
  color: black;
}



.Homelogo {
  width: 20px;
  height: 20px;
  margin: 0px;
  border-radius: 0%;
  border: none;
  padding: 0px;

}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
  top: 0;
  z-index: 1;
  border-radius:15px 15px 15px 15px;
}

.progress-bar {
  height: 8px;
  background: #98FB98;
  width: 0%;
  border-radius:15px 15px 15px 15px;
}

.mainbar {
  position: fixed;
  z-index: 4;
  width: 100%;
  opacity: 95%;
  padding-top: 0px;
  top:0;
  left: 0;
}

  body {
    
    height: 100%;
    text-align: center;
    font-family:'PT Serif';
    padding-top: 0px;
  }

body::-webkit-scrollbar {
    display: none;
  }

  .sitelogo {
    width: 30px;
    height: 30px;
    margin: 0px;
    border-radius: 0%;
    border: none;
    padding: 0px;
    float: left;
    
  }
  
  
  .map {
    font-family: "Minecraft", sans-serif;
    color: white;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    float: right;
  }
  
  .map:hover {
    background-color: white;
    color: black ;
  }
  
  a {
    text-decoration: none;
  }
  .linky {
    float: right;
    text-decoration: none;
    font-size: 20px;
    font-family: "Minecraft", sans-serif;
    margin-bottom: 0px;
    padding-left: 5px; 
    padding-top: 3px;
  }  

  * {
    box-sizing: border-box;
  }
  
  /* Set a background color */
  body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    text-align: center;
    margin-top: 75px;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #69c800;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    -webkit-animation: glow 1.0s infinite alternate;
    -webkit-transition: border 0.5s linear, box-shadow 0.5s linear;
    -moz-transition: border 0.5s linear, box-shadow 0.5s linear;
    transition: border 0.5s linear, box-shadow 0.5s linear;
    animation: glow 0.5s infinite alternate;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes glow {
    to {
      border-color: #69c800;
      -webkit-box-shadow: 0 0 5px #69c800;
      -moz-box-shadow: 0 0 5px #69c800;
      box-shadow: 0 0 5px #69c800;
    }
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }
  