@import url('https://fonts.cdnfonts.com/css/minecraft-4');

body::-webkit-scrollbar {
    display: none;
  }

* {
    margin: 0;
    padding: 0;
}

body {
  background-image: url(../Images/ezgif.com-optimize.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(58, 54, 54);
}
  
  .topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    margin-top: 0px;
  }
  
  .links {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Minecraft", sans-serif;
    margin-bottom: 0px;
  }
  
  .links:hover {
    background-color: white;
    color: black;
  }
  
  .glitch {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Minecraft", sans-serif;
    margin-bottom: 0px;
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
    animation: glitch 725ms infinite;
  }
  
  #glitched:hover {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
    animation: glitch 725ms infinite;
    background-color: white;
  }
  
  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
        0.025em 0.04em 0 #fffc00;
    }
  
    15% {
      text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
        0.025em 0.04em 0 #fffc00;
    }
  
    16% {
      text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
        -0.05em -0.05em 0 #fffc00;
    }
  
    49% {
      text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
        -0.05em -0.05em 0 #fffc00;
    }
  
    50% {
      text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
        0 -0.04em 0 #fffc00;
    }
  
    99% {
      text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
        0 -0.04em 0 #fffc00;
    }
  
    100% {
      text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
        -0.04em -0.025em 0 #fffc00;
    }
  }
  
  .Homelogo {
    width: 20px;
    height: 20px;
    margin: 0px;
    border-radius: 0%;
    border: none;
    padding: 0px;
  
  }

  .mainbar {
    position: fixed;
    z-index: 4;
    width: 100%;
    opacity: 95%;
    padding-top: 0px;
    top: 0;
    left: 0;
  }

  .sitelogo {
    width: 30px;
    height: 30px;
    margin: 0px;
    border-radius: 0%;
    border: none;
    padding: 0px;
    float: left;
  
  }
  
  
  .map {
    font-family: "Minecraft", sans-serif;
    color: white;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    float: right;
  }
  
  .map:hover {
    background-color: white;
    color: black;
  }
  
  a {
    text-decoration: none;
  }
  
  .linky {
    float: right;
    text-decoration: none;
    font-size: 20px;
    font-family: "Minecraft", sans-serif;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-top: 3px;
  }


  .everything {
    background-image: url(../Images/explodehole.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: clip;
    padding-top: 30px;
    margin-bottom: 0px;
    animation: cssAnimation 0s 2.5s forwards;
    visibility: hidden;

  }

  .subeverything {
    background-color: rgba(241, 81, 81, 0.5);
    padding-top: 10px;
    padding-bottom: 24px;
  }

  .youdiedtext {
    font-family: "Minecraft", sans-serif;
    font-size: 70px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    text-align: center;    
  }

  .reasontext {
    font-family: "Minecraft", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    text-align: center; 
    margin-top: 20px;
  }

  .maintextwrapper {
    margin-top: 20vh;
  }

  .respawn {
    font-family: "Minecraft", sans-serif;
    border: 3px solid black;
    width: 500px;
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:darkgrey;
    font-size: 25px;
    border-color: black;
    color: white;
    letter-spacing: 3px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

  }

  .title {
    font-family: "Minecraft", sans-serif;     
    display: inline-block;
    border: 3px solid black;    
    width: 500px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:darkgrey;
    font-size: 25px;
    border-color: black;
    color: white;
    letter-spacing: 3px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }

  .respawn:hover {
    background-color:lightblue;
    font-size: 25px;
    color: rgb(245, 245, 85);
  }

  .title:hover {
    background-color:lightblue;
    font-size: 25px;
    color: rgb(245, 245, 85);
  }

  .buttons {
    margin-top: 20%;
    margin-left: 165px;       
  }

  @keyframes cssAnimation {
    to   { visibility: visible; }
  }

  .Music {
    height: 0px;
    line-height: 0px;
    font-size: 0px;
  }

  
audio::-webkit-media-controls {
  display: none;
}