@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@import url('https://fonts.google.com/specimen/PT+Serif?preview.text');
@import url('https://fonts.google.com/specimen/Nunito+Sans?preview.text');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-image: url(../Images/mbquestionbg.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'PT Serif';
  padding-top: 0px;
}

body::-webkit-scrollbar {
  display: none;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  margin-top: 0px;
}

.links {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Minecraft", sans-serif;
  margin-bottom: 0px;
}

.links:hover {
  background-color: white;
  color: black;
}

.glitch {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Minecraft", sans-serif;
  margin-bottom: 0px;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

#glitched:hover {
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
  background-color: white;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }

  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }

  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }

  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }

  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }

  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }

  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}

.Homelogo {
  width: 20px;
  height: 20px;
  margin: 0px;
  border-radius: 0%;
  border: none;
  padding: 0px;

}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
  top: 0;
  z-index: 1;
  border-radius: 15px 15px 15px 15px;
}

.progress-bar {
  height: 8px;
  background: #98FB98;
  width: 0%;
  border-radius: 15px 15px 15px 15px;
}

.mainbar {
  position: fixed;
  z-index: 4;
  width: 100%;
  opacity: 95%;
  padding-top: 0px;
  top: 0;
  left: 0;
}

.sitelogo {
  width: 30px;
  height: 30px;
  margin: 0px;
  border-radius: 0%;
  border: none;
  padding: 0px;
  float: left;

}


.map {
  font-family: "Minecraft", sans-serif;
  color: white;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  float: right;
}

.map:hover {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
}

.linky {
  float: right;
  text-decoration: none;
  font-size: 20px;
  font-family: "Minecraft", sans-serif;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-top: 3px;
}

.hidden {
  display: none;
}

/* Question 1 */
.question1 {
  margin-top: 80px;
  background-color: rgba(100, 100, 100, 0.5);
  padding-bottom: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 5px solid black;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  animation: slide-down 1s forwards;
  -webkit-animation: slide-down 1s forwards;
}

@keyframes slide-down {
  100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-down {
  100% { -webkit-transform: translateY(0%); }
}

.q1words {
  font-size: 60px;
  font-family: "Minecraft", sans-serif;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-left: 20%;
  margin-right: 20%;
}

.dropdown1 {
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  width: 40%;
  height: 40px;
  color: black;
  border-width: 3px;
  text-align: center;
  border-color: black;
  font-family: 'Arsenal SC', sans-serif;
}

.button1 {
  margin-top: 200px;
  width: 40%;
  height: 50px;
  border-radius: 10px;
  background-color: lawngreen;
  border-width: 5px;
  font-family: "Minecraft", sans-serif;
  font-size: 20px;
  border-color: black;
}

.button1:hover{
  background-color: rgb(102, 201, 4);
}

option{
  font-family: 'Arsenal SC', sans-serif;
  font-weight:500;
  font-size: 18px;
  text-align: center;
}

/* Question 2 */
.question2 {
  margin-top: 80px;
  background-color: rgba(100, 100, 100, 0.5);
  padding-bottom: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 5px solid black;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  animation: slide-down 1s forwards;
  -webkit-animation: slide-down 1s forwards;
  
}

.q2words {
  font-size: 60px;
  font-family: "Minecraft", sans-serif;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.overworldbutton1 {
  display: inline-block;
  height: 300px;
  width: 23%;
  background-color: green;
  border-radius: 10px;
  border: 3px solid white;
  margin-left: 2%;
  margin-top: 100px;
  font-family: 'Arsenal SC', sans-serif;
  font-size: 30px;
  color: white;
  font-weight: bold;
  background-image: url(../Images/overworldquestion.png);
}
.netherbutton1 {
  display: inline-block;
  height: 300px;
  width: 23%;
  background-color: red;
  border-radius: 10px;
  border: 3px solid white;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 100px;
  font-family: 'Arsenal SC', sans-serif;
  font-size: 30px;
  color: white;
  font-weight: bold;
  background-image: url(../Images/netherquestion.png);
}
.endbutton1 {
  display: inline-block;
  height: 300px;
  width: 23%;
  background-color: purple;
  border-radius: 10px;
  border: 3px solid white;  
  margin-top: 100px;
  margin-right: 2%;
  text-align: center;
  font-family: 'Arsenal SC', sans-serif;
  font-size: 30px;
  color: white;
  font-weight: bold;
  background-image: url(../Images/endquestion.png);
}

.endbutton1:hover, .netherbutton1:hover, .overworldbutton1:hover {
  border: 3px solid green;
    background-color: rgb(169, 169, 169, 0.5);
    -webkit-animation: glow 1.0s infinite alternate;
    -webkit-transition: border 0.5s linear, box-shadow 0.5s linear;
    -moz-transition: border 0.5s linear, box-shadow 0.5s linear;
    transition: border 0.5s linear, box-shadow 0.5s linear;
    animation: glow 0.5s infinite alternate;
    color: rgb(2, 153, 2);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

@-webkit-keyframes glow {
  to {
    border-color: #69c800;
    -webkit-box-shadow: 0 0 5px #69c800;
    -moz-box-shadow: 0 0 5px #69c800;
    box-shadow: 0 0 5px #69c800;
  }
}

@keyframes glow {
  to {
    border-color: #69c800;
    -webkit-box-shadow: 0 0 5px #69c800;
    -moz-box-shadow: 0 0 5px #69c800;
    box-shadow: 0 0 5px #69c800;
  }
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

/* Question 3 */
.question3 {
  margin-top: 80px;
  background-color: rgba(100, 100, 100, 0.5);
  padding-bottom: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 5px solid black;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  animation: slide-down 1s forwards;
  -webkit-animation: slide-down 1s forwards;
}

.q3words {
  font-size: 60px;
  font-family: "Minecraft", sans-serif;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  padding-left: 20px;
  padding-right: 20px;
}

.filltheblank1 {
  margin-top: 100px;
  font-size: 40px;  
  font-family: 'Arsenal SC', sans-serif;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

.filltheblank1input {
  height: 20px;
  border: 3px black solid;
}

input {
  font-size: 20px;  
  font-family: 'Arsenal SC', sans-serif;
  text-align: center;
  display: inline-block;
  padding: 5px;
  font-weight: bold;
  color: black;
}

.button2 {
  margin-top: 150px;
  width: 40%;
  height: 50px;
  border-radius: 10px;
  background-color: lawngreen;
  border-width: 5px;
  font-family: "Minecraft", sans-serif;
  font-size: 20px;
  border-color: black;
}

/*Question 4*/
.question4 {
  margin-top: 80px;
  background-color: rgba(100, 100, 100, 0.5);
  padding-bottom: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 5px solid black;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  animation: slide-down 1s forwards;
  -webkit-animation: slide-down 1s forwards;
}

.q4words {
  font-size: 40px;
  font-family: "Minecraft", sans-serif;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  padding-left: 20px;
  padding-right: 20px;
}

label {
  height: 60px;
  width: 60px;
}




.question5 {
  margin-top: 80px;
}

.question6 {
  margin-top: 80px;
}

.question7 {
  margin-top: 80px;
}

.question8 {
  margin-top: 80px;
}

.question9 {
  margin-top: 80px;
}

.question10 {
  margin-top: 80px;
}


